@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1148px;
}

.breed-select {
  max-width: 500px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.img-cat {
  width: auto;
}

.cat-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.wrap {
  max-width: 500px;
}
